/* Custom Styles for Sidebar */
.sidebar {
    background-color: #343a40;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    transition: width 0.3s;
}

.sidebar .nav-link {
    color: #fff;
    padding: 15px;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar.collapsed .nav-link {
    text-align: center;
    padding: 15px;
}

.sidebar.collapsed .nav-link span {
    display: none;
}

.content {
    width: 100%;
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
}

.content.collapsed {
    margin-left: 80px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
}


/* header */


@media (max-width: 768px) {
    .sidebar {
        width: 80px;
    }

    .sidebar .nav-link span {
        display: none;
    }

    .content {
        margin-left: 80px;
    }
}
